/*.navbar-nav {
    float: right;
}*/

.supporters {
    text-align:center;
    width:50%;
    margin:auto;
}

div#dona div {
  padding:25px;
}

div#dona form {
  float:right;
  margin: 10px;
}

.navbar-brand {
    font-size: 1.6rem;
}

div#speaker div.col-xs-4 {
  min-height:150px;
}
.image-bg-fluid-height {
    padding: 170px 0;
  }
